.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--ciano);
    color: #FFF;
    padding: 80px;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p {
    font-size: 20px;
}