.botao {
  background-color: var(--ciano);
  color: var(--branco);

  border-radius: 10px;
  border: none;

  font-weight: 700;
  font-size: 18px;
  padding: 32px;
  margin: 32px 0;

  cursor: pointer;
}

.botao:hover {
  color: var(--cinza);
}
