.time {
    text-align: center;
    padding: 32px;
    background-color: blueviolet;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid #55710F;
    display: inline-block;
    padding: 10px;
}