.classe {
  text-align: center;
  padding: 32px;
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.classe {
  
}

.classe h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  display: inline-block;
  padding: 10px;
}

.classe .personagens {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}
